{% extends 'base.html' %}


{% block content%}
<strong>Logged in user: 
    <i>
        {% if user.is_authenticated %}
            {{user.username}}
        {% else %}
            None
        {% endif %}
    </i>
</strong>
 <h1 class="text-3xl font-bold my-5">Book Title</h1>
    <a href="{% url 'new_book' %}" class="px-3 py-2 bg-blue-500 rounded-lg text-white hover:bg-blue-600">
        New Book
    </a>
 <hr class="my-3">
 <div class="grid grid-cols-4 space-x-2">
     {% for book in books %}
     <div class="py-5">
        {% if book.cover_image %}
        <img src="{{book.cover_image.url}}" alt="" class="w-full h-[420px] rounded-lg">
        {% else %}
        <p>No image</p>
        {% endif %}
        <h4 class="font-bold text-2xl py-2">
        <a href="{% url "book_details" book.id %}">
                {{book.title}}
        </a>
        </h4>
        <hr class="border-2">
     </div>
     {% endfor %}
 </div>
{% endblock content%}