{% extends 'base.html' %}


{% block content%}
<strong>Logged in user: 
    <i>
        {% if user.is_authenticated %}
            {{user.username}}
        {% else %}
            None
        {% endif %}
    </i>
</strong>
 <h1>Book Title</h1>
 <button>
    <a href="{% url 'new_book' %}">
        New Book
    </a>
</button>
 <hr>
 {% for book in books %}
 {% if book.cover_image %}
 <img src="{{book.cover_image.url}}" alt="" height='150' width='100'>
 {% else %}
 <p>No image</p>
 {% endif %}
    <h4>
        <a href="{% url "book_details" book.id %}">
            Title: {{book.title}}
        </a>
    </h4>
 {% endfor %}
{% endblock content%}